    
/* RESET - Reset default browsers styles
=================================================================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Set Box Sizing "border-box" as default */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



/* MAIN TAGS FORMATTING
===================================================================================*/
/* REFERENCE SIZE FOR FONTS
 * We can use html{} ou :root{}
----------------------------------------------*/
html {
  font-size: 16px;
}

/* FONT - Default properties
----------------------------------------------*/
body,
button,
input,
select,
textarea {
  font-family: 'Libre Baskerville';
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.75em;
  color: #000;
}

/* TITLES
----------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
	font-weight: 300;
	line-height: 1.75em;
	margin-bottom: 1em;
	text-transform: uppercase;
}
h1 {
  font-weight: 900;
	margin-bottom: 0;
}
h2 {
  font-size: 1.3em;
	letter-spacing: 0.1em;
}
h3 {
	font-size: 1.1em;
	font-weight: 400;
}


/* PARAGRAPHS
----------------------------------------------*/
p {
  margin-bottom: 0;
}

/* HELPER CLASSES - Useful classes to speed up the design
===================================================================================*/
/* DISPLAY
----------------------------------------------*/
.DN		{display: none;}
.DB		{display: block;}
.DIB	{display: inline-block;}

/*Display FLEX*/
.DF {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}

/*Hide text for all devices except for "readers" without visual display*/
.hide-but-keep {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


/* TYPOGRAPHY
----------------------------------------------*/
.FW-300	{font-weight: 300; font-size: 1.02em;}
.FW-900	{font-weight: 900;}
.UPP		{text-transform: uppercase;}
.AC			{text-align: center;}


/* BACKGROUNDS
----------------------------------------------*/
.BG-white {
	background-color: white;
}


/* MARGINS
----------------------------------------------*/
.MT-0 {margin-top: 0;}
.MT-1 {margin-top: 0.25em;}
.MT-2 {margin-top: 0.50em;}
.MT-3 {margin-top: 1em;}
.MT-4 {margin-top: 1.25em;}
.MT-5 {margin-top: 1.50em;}
.MT-6 {margin-top: 2em;}
.MT-7 {margin-top: 3em;}
.MT-8 {margin-top: 4em;}
/*etc.*/

.MB-0 {margin-bottom: 0;}
.MB-1 {margin-bottom: 0.25em;}
.MB-2 {margin-bottom: 0.50em;}
.MB-3 {margin-bottom: 1em;}
.MB-4 {margin-bottom: 1.25em;}
.MB-5 {margin-bottom: 1.50em;}
.MB-6 {margin-bottom: 2em;}
.MB-7 {margin-bottom: 3em;}
.MB-8 {margin-bottom: 4em;}
/*etc.*/

.MX-auto {
	margin-left: auto;
	margin-right: auto;
}


/* PADDINGS
----------------------------------------------*/
.PT-0 {padding-top: 0;}
.PT-1 {padding-top: 0.25em;}
.PT-2 {padding-top: 0.50em;}
.PT-3 {padding-top: 1em;}
.PT-4 {padding-top: 1.25em;}
.PT-5 {padding-top: 1.50em;}
.PT-6 {padding-top: 2em;}
/*etc.*/

.PB-0 {padding-bottom: 0;}
.PB-1 {padding-bottom: 0.25em;}
.PB-2 {padding-bottom: 0.50em;}
.PB-3 {padding-bottom: 1em;}
.PB-4 {padding-bottom: 1.25em;}
.PB-5 {padding-bottom: 1.50em;}
.PB-6 {padding-bottom: 2em;}

.PX-3 {
	padding-left: 1em;
	padding-right: 1em;
}
.PY-3 {
	padding-top: 1em;
	padding-top: 1em;
}





/* ------------------------------------------------------------ header*/
/* .hero-image {

  height: 750px;
  background-image: url("../Images/menulg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
} */

.hero-image {
  height: 100vh;
  background-image: url(../Images/menulg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


header ul, header li {
  display: inline;
}
header li + li {
  padding-left: 10px;
}

/* ------------------------------------------------------------ end of header*/

/* ------------------------------------------------------------ header navigation bar*/
nav {
  
  font-family: inherit;
  justify-content: space-around;
  padding: 20px 20px;

  border-bottom: 2px solid black;
}

nav ul li {
  padding: 0px;
}
.search-bottom{
  height: 34px;
}
.Subscribe{
  height: 62px;
}
.ml{
  margin-left: 2em;
  width: 90px;
  height: 25px;
}
.acc{
  padding: 3px;
  width: 30px;
  height: 30px;
}
/* -------------------------------------------------------- end of header navigationbar*/

/* -------------------------------------------------------- Links on Homepage*/

.scroll-link-links{
bottom: 0;
position: absolute;

}
.scroll-link{
  padding: 0px 50px 0px;
  color: #fedb01;
  font-family: 'Anton';
  font-size: 3vw;
  text-decoration: none;
  position: sticky;
  line-height: 1em;
}
.scroll-link-bg{
  padding: 20px 20px;
	color: #fedb01;
	font-family: 'Baloo';
	font-size: 4vw;
	font-weight: 400;
	line-height: 72px;
	letter-spacing: -0.01em;
  text-decoration: none;
}
/* ---------------------------------------------------------- End of Links on Homepage*/

/* ---------------------------------------------------------- Sucial network fixed panel*/
.snt{
  position: fixed;
  right: 0;
  transform: translateY(20px);
  z-index: 9;
}
.snt-images{
  width: 25px;
  margin: 0% 0%;
  padding: 0% 0;
  border: 0em;

}
.sntm .sn {
  margin-left: 20px;
  height: 50px;
  width: 40px;
}
/* ------------------------------------------------------------ end of social network panel*/

/* ------------------------------------------------------------ change color background and text*/

.change-color-bg{

  animation: change-color-bg 2s linear infinite alternate both;
}
@keyframes change-color-bg{
  from {
    background: whitesmoke;
  }
  to {
    background: #D4E0E0;
  }  
}
.change-color-bg h1 {
  margin-left: .5em;
  padding-left: 25px;
  font-size: 3em;
  font-family: 'Baloo';
  color: #000;
}

.change-color-bg p.columns-3 {
  columns: 2;
  column-gap: 2em;

}

.change-color-bg p {
  text-align: center;
  padding: .5em 4.5em 1em 4.5em;
  font-size: 2em;
  font-family: 'Rasa';
  text-decoration: none;
  margin: 0 0 0 0;
}
.change-color-bg p a {
  text-decoration: none;
  
}
.pages-link{
  padding: 10px;
}

/* ------------------------------------------------------------ End of change color background and text*/

/* ------------------------------------------------------------ side menu panel */
.sidepanel {
  
  height: 350px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}


.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  width: 40px;
  height: 40px;
  background: url(../Images/menu-icon.png);
  background-size: 100%;/* to save the size of picture*/
  position: fixed;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  border: none;  
  z-index: 99999;
}

/* ------------------------------------------------------------ End side menu panel*/

/* ------------------------------------------------------------ end of iphonesize*/

@media (min-width: 500px ) {
  .scroll-link{
    top: 600px;
  }
  
nav ul {
  display: flex;
  justify-content: space-between;
}
}
/* ------------------------------------------------------------ Parallelbg*/
.parallax-nav{
  position: sticky;
  top: 30px;
}

.parallax1 {
  padding: 20px 120px;
  background-image: url("../Images/cookingsp.jpg");
  min-height: 700px; 
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  padding: 20px 120px;
  background-image: url("../Images/cookingvg.jpg");
  min-height: 700px; 
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  padding: 20px 120px;
  background-image: url("../Images/cookingvm.jpg");
  min-height: 700px; 
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* ------------------------------------------------------------ Slide show big and small*/
.shopping-slidshow.small img{
max-width: 200px;
}
.shopping-slidshow.big img{
  max-width: 800px;
  }
  .shopping-slidshow{
    padding: 0% 50px;
    }
.slick-prev:before, .slick-next:before{
  color: black;
}
.slick-prev{
  left: 30px;
}
.slick-next{
  right: 30px;
}

.slick-slide {
  background: white;
  margin: 0px 10px 0px 10px;
}

.pbaloo{
  font-family: Ballo;
  font-size: 2vw;
  color: #1e3046

}
.shoping-images{
  width: 100%;
  height: 200px;
}
/* ------------------------------------------------------------ End of Slide show big and small*/

/* ------------------------------------------------------------ shopping prices*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  color: white;
  background-color: #000;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.card h1{
  font-size: 1.8em;
}
/* ------------------------------------------------------------ End of shopping prices*/
.animated{
  padding-left: 70px;
}
/* ------------------------------------------------------------ Footer*/
.footer{
  *margin-top: 5000px;
  width: 100%;
  height: 300px;
  *max-width: 900px;
  background-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
/* ------------------------------------------------------------ end of footer*/
/* MEDIA QUERIES
===================================================================================*/
/* <= 1280px
----------------------------------------------*/

@media (max-width: 1280px) {
.change-color-bg p.columns-3 {
columns: 2;
font-size: 25px;
padding: 2em;
}
.change-color-bg p{
  padding: 0;
  font-size: 16px;
}
.scroll-link{
  padding: 0;
  padding-left: 10px;
}
.scroll-link-bg{
  padding: 0;
  font-size: 4vw;
  line-height: 0px;
  width: 100%;
}
.parallax-nav {
  top: 55px;
}
.parallax1{
  padding: 0;
}
.parallax2{
  padding: 0;
}
.parallax3{
  padding: 0;
}

}
/* <= 1024px
----------------------------------------------*/
@media (max-width: 1024px) {
.change-color-bg p.columns-3 {
columns: 2;
font-size: 25px;
padding: 2em;
}
.change-color-bg p{
  padding: 0;
  font-size: 16px;
}
.scroll-link{
  padding: 0;
  padding-left: 10px;
}
.scroll-link-bg{
  padding: 0;
  font-size: 4vw;
  line-height: 0px;
  width: 100%;
}
.parallax-nav {
  top: 55px;
}
.parallax1{
  padding: 0;
}
.parallax2{
  padding: 0;
}
.parallax3{
  padding: 0;
}
}
/* <= 736px
----------------------------------------------*/
@media (max-width: 736px) {

.change-color-bg p.columns-3 {
columns: 1;
font-size: 18px;
padding: 2em;
}
.change-color-bg p{
padding: 0;
font-size: 16px;
}
.change-color-bg h1{
  font-size: 27px;
padding-top: 1em;
}
.scroll-link{
padding: 0;
padding-left: 10px;
}
.scroll-link-bg{
padding: 0;
font-size: 4vw;
line-height: 0px;
width: 100%;
}
.parallax-nav {
top: 40px;
}
.parallax1{
padding: 0;
}
.parallax2{
padding: 0;
}
.parallax3{
padding: 0;
}
nav ul{
  display: block;
  break-after: auto;
  height: 100px;
}
#logoLink {
  position: absolute;
  left: 20px;
  top: 20px;
}
#colock {
  position: absolute;
  left: 10px;
  top: 55px;
}
#searchNavSearch {
  position: absolute;
  left: 10px;
  top: 90px;
}
#searchNavBotton {
  position: absolute;
  left: 230px;
  top: 90px;
}
#navBottons{
  position: absolute;
  right:30px;
  top: 15px;
}
/*===================================================================================*/