
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

.hero-image {
  width: 100%;
  height: 300px;
  background-image: url("Images/menulg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

header ul, header li {
  display: inline;
}

header li + li {
  padding-left: 10px;

}


nav {
  font-family: inherit;
  display: inherit;
  justify-content: space-around;
  padding: 20px 20px;

  border-bottom: 2px solid black;
}
nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  padding: 0px;
}

.ml{
  width: 90px;
  height: 25px;
}
.acc{
  padding: 3px;
  width: 20px;
  height: 20px;
}

.sn{

  width: 25px;
  margin: 0% 0%;
  padding: 0% 0;
  border: 0%;

}
 div.menu-icon {
   z-index: 10;
  position: fixed;
  left: 0;
  top: 55px;
  transform: translateY(20px);
  overflow: hidden;
  width: 130px;
  height: 100px;
  text-align: center;
  background-image: url("Images/menu-icon.png");
  background-repeat: no-repeat;
  transition: height 1.5s;
}
.sntm{
  display: block;
  text-align: center;
  justify-content: space-around;
  margin-top: 80px;
  margin: center;
}
.sntm .sn {
  margin-left: 20px;
  height: 50px;
  width: 40px;

}
div.menu-icon:hover{
  height: 570px;
  background-size: 65px;
  background-image: url("Images/menu-close-icon.png");
}




.footer{
  margin-top: 5000px;
  width: 100%;
  height: 300px;
  *max-width: 900px;
  background-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.snt{
  position: fixed;
  right: 0;
  transform: translateY(20px);
}
.a{
  text-underline-position: none;
}
.sntm{
  position: fixed;
  left: 0;
  transform: translateY(20px);
}
#nav-menu-numb{
  text-decoration: none;
  unicode-range: 0;
  text-size-adjust: 20em;
  width: 4em;
  font-size: 4em; 
}
.snfb-one{
  position: absolute;
  position: fixed;
  left: 50px;
  top: 10px;
  transform: translate(20px);
}
.snfb-two{
  position: absolute;
  position: fixed;
  left: 50px;
  top: 55px;
  transform: translate(20px);
}
.snfb-three{
  position: absolute;
  position: fixed;
  left: 50px;
  top: 105px;
  transform: translate(20px);
}
.snfb-four{
  position: absolute;
  position: fixed;
  left: 50px;
  top: 155px;
  transform: translate(20px);
}
.snfb-five{
  position: absolute;
  position: fixed;
  left: 50px;
  top: 205px;
  transform: translate(20px);
}
.sntm li:hover .submenu {
  visibility: visible;
}
.submenu {
  visibility: hidden;
  position: absolute;
  left: 70px;
  top: 0px;
  width: 100px;
  height: 300px;
}
.w3-content .w3-display-container{
  box-sizing: border-box;
}
.w3-display-container img {
  padding: 60px;
  width: 90%;
}
.w3-display-left{
  left: 60px;
}
.w3-display-right{
  right: 60px;
}







/* The sidepanel menu */
.sidepanel {
  height: 250px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}